body {
  background-color: #021F2D;
  color: white;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  line-height: 75px;
  color: #FFFFFF;
}

h2 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  position: relative;
  margin-bottom: 80px;
}

p {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 15px;
}

nav a {
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin-left: 35px;
}

label {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 30px;
  display: block;
}

a.button, button[type="submit"] {
  padding:  10px 70px 10px 20px;
  background-image: url(../images/arrow.svg);
  background-size: 30px;
  border: 1px solid #fff;
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) center;
  transition:All .2s ease;
  -webkit-transition:All .25s ease;
  -moz-transition:All .25s ease;
  display: inline-block;
}

.button.solid, button[type="submit"] {
  background-color: #5f2f84;
  border-color: #5f2f84;
  /*background-color: #3ab5e6;
  border-color: #3ab5e6;*/
  color: #FFF;
}

.button.no-arrow {
  background-image: none;
  padding:  10px 20px 10px 20px;
}

a.button:hover {
  background-position: calc(100% - 15px) center;
}

h2:after {
  content: "";
  background: #fff;
  width: 100px;
  height: 4px;
  position: absolute;
  z-index: 1;
  top: 90px;
  left: 50%;
  margin-left: -50px;
}

h3 {
 font-style: normal;
 font-weight: normal;
 font-size: 26px;
 line-height: 47px;
 letter-spacing: 0.1em;
 text-transform: uppercase;
}


/*COVER*/
.cover {
  position: relative;
  overflow: visible;
  padding-bottom: 130px;
}

.cover .button {
  font-size: 20px;
}

.background {
  opacity: 1;
  transition:All 1s ease;
  -webkit-transition:All 1s ease;
  -moz-transition:All 1s ease;
}

.background.initial {
  opacity: 1;
}

.cover .color {
  background: url('../images/cover-image.png');
  background-size: cover;
  width:0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  left: 0;
  top: 0;
  bottom: 0;
  opacity: 1;
  animation: color 5s linear infinite;
    -moz-animation: color 5s linear infinite;
    -webkit-animation: color 5s linear infinite;
    -o-animation: color 5s linear infinite;
}

.color .light {
  width: 400px;
  height: 260px;
  margin-right: -210px;
  background-image: url('../images/light.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 999;
  animation: light 5s linear infinite;
    -moz-animation: light 5s linear infinite;
    -webkit-animation: light 5s linear infinite;
    -o-animation: light 5s linear infinite;
}

.color.transition {
  transition:All 6s ease;
  -webkit-transition:All 6s ease;
  -moz-transition:All 6s ease;
}

.cover .color:after {
  content: "" !important;
  position: absolute;
  right: -50px;
  top: 40%;
  bottom: 40%;
  width: 100px;
  background-image: url('../images/glow.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.color.transition:after {
  animation: color_after 5s linear infinite;
    -moz-animation: color_after 5s linear infinite;
    -webkit-animation: color_after 5s linear infinite;
    -o-animation: color_after 5s linear infinite;
}

@keyframes color_after {
    0% { top: 40%; bottom: 40%; }
    50% { top: -10px; bottom: -10px; }
    75% { opacity: 1; }
    85% { opacity: 0; }
    100% { top: 40%; bottom: 40%; opacity: 0; }
}

@keyframes light {
    0% { opacity: 0; }
    70% { opacity: 0; transform: scale(1); }
    85% { opacity: 1; transform: scale(2); }
    100% { opacity: 0; transform: scale(1); }
}

@keyframes color {
    0% { width: 0;}
    50% { width: 50%;}
    85% { opacity: 1; width: 95%; }
    100% {  width: 95%; opacity: 0;}
}


/*LEADERSHIP TEAM*/

.leadership {
  position: relative;
}

.leadership table {
  width: 100%;
}

.leadership tr:first-child {
  border-bottom: 1px rgba(250, 250, 250, 0.1) solid;
}

.leadership td {
  padding: 60px 0 60px 0;
}

.leadership .avatar {
  width: 400px;
  height: 400px;
  background-position: center;
  background-size: cover;
  margin-right: 40px;
  position: relative;
}

/*.avatar:before {
  content: "";
  position: absolute;
  left: -25px;
  top: -25px;
  width: 400px;
  height: 400px;
  background-color: #FE3A83;
  z-index: -1;
  opacity: .5;
}

.avatar.purple:before {
  background-color: #5F2F84;
}

.avatar.blue:before {
  background-color: #3AB5E6;
}*/



.leadership td.link {
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  border-left: 1px rgba(250, 250, 250, 0.3) solid;
  width: 160px;
}

.leadership td.link img {
  transition:All .5s ease;
  -webkit-transition:All .5s ease;
  -moz-transition:All .5s ease;
}

.leadership td.link:hover img {
  margin-left: 10px;
}

.leadership td.link a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.leadership .button {
  margin-right: 30px;
  margin-top: 15px;
}

.leadership .title {
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 31px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #666666;
  margin-right: 50px;
  display: block;
}

.leadership .name {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
}


/*FLOATING PROTEINS*/

.proteins {
  z-index:-1;
  width: 421px;
  height: 462px;
  position: absolute;
  left: 0;
  top: -530px;
}

.proteins.two {
  width: 421px;
  left: auto;
  right: 0;
  -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
}

.proteins img { position: absolute; }

.proteins .blue {
  animation: blue 5s infinite;
    -moz-animation: blue 5s infinite;
    -webkit-animation: blue 5s infinite;
    -o-animation: blue 5s infinite;
}

@keyframes blue {
    0% { top: 0; right: 0; }
    25% { top: 40px; right:40px; }
    50% { top: 0; right:0; }
    75% { top: 40px; right:40px; }
    100% { top: 0; right: 0; }
}

.proteins .purple {
  animation: purple 5s infinite;
    -moz-animation: purple 5s infinite;
    -webkit-animation: purple 5s infinite;
    -o-animation: purple 5s infinite;
}

@keyframes purple {
    0% { top: 90px; left: -40px; }
    25% { top: 150px; left: -80px; }
    50% { top: 90px; left: -40px; }
    25% { top: 150px; left: -80px; }
    100% { top: 90px; left: -40px; }
}

.proteins .pink {
  animation: pink 5s infinite;
    -moz-animation: pink 5s infinite;
    -webkit-animation: pink 5s infinite;
    -o-animation: pink 5s infinite;
}

@keyframes pink {
    0% { bottom: 0; left: 100px; }
    25% { bottom: 0; left: 150px; }
    50% { bottom: 0; left: 100px; }
    75% { bottom: 0; left: 150px; }
    100% { bottom: 0; left: 100px; }
}

.proteins.two .blue, .proteins.two .pink, .proteins.two .purple {
  animation: pink 12s infinite;
    -moz-animation: pink 12s infinite;
    -webkit-animation: pink 12s infinite;
    -o-animation: pink 12s infinite;
}

section.links {
  padding: 150px 0;
  display: block;
  /*background-color: rgba(0,0,0,0.2);*/
  background-color: rgba(250,250,250,0.05);
  margin: 80px 0 40px 0;
}

footer {
  /*border-top: 1px rgba(250, 250, 250, 0.1) solid;*/
  padding-top: 20px;

}

.copyright {
  font-style: normal;
  font-weight: normal;
  text-align-last: center;
  font-size: 14px;
  line-height: 24px;
  font-feature-settings: 'liga' off;
  color: #AAAAAA;

}

input, textarea {
  padding: 8px 10px;
  border: 1px solid #ddd;
  font-size: 18px;
  width: 100%;
  color: #333;
  margin: 10px;
}

textarea {
  font-size: 18px;
}

button[type="submit"] {
  margin: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  background-color: rgba(0,0,0,0.8);
}

.close {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  background-image: url('../images/close.svg');
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: .2;
  cursor: pointer;
}

.modal textarea {
  height: 100px;
}

.overlay.active {
  z-index: 99;
  opacity: 1;
}

.modal h2 {
  color: #333;
}

.modal h2:after {
  background: #333;
}

.modal {
  background-color: #FFF;
  padding: 60px;
  position: absolute;
  left: 25%;
  right: 25%;
  top: 200px;
  opacity: 0;
  transition:All 1s ease;
  -webkit-transition:All 1s ease;
  -moz-transition:All 1s ease;
}

.overlay.active .modal {
  opacity: 1;
}
